/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* Cabecera */

body {
    background-color: #540B51;
    /* max-width: 768px; */
    margin: 0;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

@media (max-width: 768px) {

    #nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo-container {
        display: flex;
        flex-grow: 1;
    }

    #logo-container ul {
        
        height: 1px;
        width: 1px;
        list-style: none;
    }

    #logo-container ul li a {
        text-decoration: none;
        font-size: 1px;
        color: #540B51;
    }

    #logo{
    width: 35%; 
    padding: 30px 0 0 30px;
    }
    

    #search-button {
        display: flex;
        gap: 20px;
        padding: 35px 20px 0 0;
    } 
    #search-button button {
        background-color: #540B51;
        width: 35px;
        border: none;
    }

    /* Header  */

    #header-container {
        text-align: center;
        
    }

    #header-container h1 {
        color: white;
        font-size: 2.6rem;
    }

    #header-container p span {
        color: #ECB12F;
    }

    #header-container p {
        color: white;
        font-size: 1.2rem;
    }

    #sign-buttons {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0 15px;
    }

    #sign-buttons button {
        height: 53px;
        border: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: bold;
        align-items: center;
    }

    #sign-button-email  {
        
        color: #540B51;
    }

    #sign-button-google {
        display: flex;
        background-color: #4285F4;
        color: white;
        padding: 0px 25px 0px 6px;
    }

    #sign-button-google img {
        display: flex;
        height: 1.8rem;
        background-color: white;
        padding: 7px;
        border-radius: 5px;
    }
    #sign-button-google span {
        flex-grow: 1;

    }
    #hero-product-container {
        display: flex;
        width: 100%;
    }

    #hero-product-img {
        padding-top: 15px;
        width: 150%;
        object-fit: cover;
    }

    /* Seccion 1*/

    #section-1 {
        background-color: #F3EAE2;
        padding: 0;
    }

    #section-1 p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
        padding-top: 40px;
    }

    #company-logos {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 5px 20px 10px 20px;
    }

    #company-logos img{
        justify-self: stretch;
        align-self: center;
    }

    #New-York-logo {
        grid-column: 1/3;
    }
    #Spotify-logo {
        grid-column: 3/5;
    }


    
}